.popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(black, 0.4);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  backdrop-filter: blur(5px);

  &.open {
    opacity: 1;
    visibility: visible;
  }

  .popap-container {
    position: relative;
    width: 350px;
    min-height: 200px;
    padding: 48px;
    border-radius: 16px;
    box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    transition: all 0.15s;
    transform: scale(1.2);
    opacity: 0;

    &.open {
      transform: scale(1);
      opacity: 1;
    }
  }
}
