.input-wrapper {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.control {
  display: flex;
  align-items: center;

  i {
    font-size: 24px;
    margin-left: 20px;
    color: rgb(163, 163, 163);
    opacity: 0;
    transition: all 0.3s;
    animation: rotate 2s linear infinite;
  }

  .load {
    opacity: 1;
  }
}

::ng-deep {
  .ngx-pagination {
    padding-left: 0;
  }
}
