<div class="wrapper">
  <div class="header">
    <span>Image Finder</span>
    <i class="material-icons" [matMenuTriggerFor]="menu">face</i>
    <mat-menu #menu="matMenu">
      <div class="item-menu" mat-menu-item (click)="GoOut()">
        <i class="material-icons">logout</i>
        <span>Go out</span>
      </div>
    </mat-menu>
  </div>
  <div class="sidebar">
    <a
      class="toggle-page"
      [routerLink]="['/search']"
      [routerLinkActive]="'active'"
      title="Search"
    >
      <i class="material-icons">wb_cloudy</i>
    </a>
    <a
      class="toggle-page"
      [routerLink]="['/bookmarks']"
      [routerLinkActive]="'active'"
      title="Bookmarks"
    >
      <i class="material-icons">bookmarks</i>
    </a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <span>Copyrights</span>
  </div>
</div>

<app-modal [open]="isRegistrWindow" (onClose)="isRegistrWindow = false">
  <h1>Registration</h1>
  <form [formGroup]="formRegistr">
    <mat-form-field class="input-auth">
      <mat-label>Login</mat-label>
      <input #input matInput type="text" formControlName="login" />
    </mat-form-field>
    <mat-form-field class="input-auth">
      <mat-label>Password</mat-label>
      <input #input matInput type="password" formControlName="password_1" />
    </mat-form-field>
    <mat-form-field class="input-auth">
      <mat-label>Repeat Password</mat-label>
      <input #input matInput type="password" formControlName="password_2" />
    </mat-form-field>
  </form>
  <p class="error" *ngIf="errorPassword">Passwords must match</p>
  <div class="sing-in-actions">
    <button
      mat-raised-button
      (click)="toRegist()"
      [disabled]="formRegistr.invalid"
    >
      Register
    </button>
    <button mat-raised-button (click)="toggleToSingIn()" [disabled]="!user">
      Sing in
    </button>
  </div>
</app-modal>

<app-modal [open]="isAuthWindow" (onClose)="isAuthWindow = false">
  <h1>Sing in</h1>
  <form [formGroup]="formSingIn">
    <mat-form-field class="input-auth">
      <mat-label>Login</mat-label>
      <input #input matInput type="text" formControlName="login" />
    </mat-form-field>
    <mat-form-field class="input-auth">
      <mat-label>Password</mat-label>
      <input #input matInput type="password" formControlName="password" />
    </mat-form-field>
  </form>
  <p class="error" *ngIf="errorSingIn">Invalid login or password</p>
  <div class="sing-in-actions">
    <button
      mat-raised-button
      (click)="toSingIn()"
      [disabled]="formSingIn.invalid"
    >
      Sing in
    </button>
    <button mat-raised-button (click)="toggleToRegistration()">
      Registration
    </button>
  </div>
</app-modal>
